@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}


/* styles/glow-text.css */
.gold-text {
  background: url('/gold.png');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}
/* styles.css */


/* Project CSS */
/* styles.css */
.bg-custom-gradient {
  background: linear-gradient(180deg, #3f3f3f -75%, var(--token-18b211c6-efeb-4952-97b9-b397bb1cc389, rgb(22, 22, 22)) 100%);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  z-index: 9;
}

.bg-custom-overlay {
  background: linear-gradient(180deg, rgba(26, 22, 26, 0) 0%, rgba(26, 24, 26, 0.9) 100%);
  bottom: -1px;
  flex: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}


.metallic-card {
  background: linear-gradient(45deg, #1d1d1d, #610d45, #353535);
  box-shadow: 10px 10px 10px #471b36, -10px -10px 20px #36071d;
  border-radius: 15px;
  border: 2px solid #444444;
  transition: all 1s ease;
}
.metallic-button{
  background: linear-gradient(45deg, #1d1d1d, #610d45, #353535);
  border-radius: 100%;
  border: 2px solid #64002a;
  transition: all 1s ease;
}


/* styles/globals.css */
/* styles/globals.css */
.tech-pill {
  background: linear-gradient(45deg, #1d1d1d, #610d45, #353535);
  border-radius: 10%;
  border: 1px solid #64002a;
  transition: all 1s ease;
}


/* styles/globals.css */
.navbar {
  background-color: rgba(17, 17, 17, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect for the glass look */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for a 3D effect */

}
